.scroll-top-btn {
  display: inline-block;
  background-color: #ff9800;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  -o-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

.scroll-top-btn svg {
  color: white;
  margin-top: 3px;
  font-size: 1.4em;
}

.scroll-top-btn:hover {
  cursor: pointer;
  background-color: #333;
}
.scroll-top-btn:active {
  background-color: #555;
}
.scroll-top-btn.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  .scroll-top-btn {
    margin: 30px;
  }
}
