{
    "parser": "babel-eslint",
     "extends": ["airbnb"],
    "rules": {
        // "no-unused-vars": 0
       
      },

    //   "env": {
    //     "browser": true,
    //     "node": true
    // },

    "globals": {
        "window": true,
        "document": true
      }
  }